In [2]:
import numpy as np
import pandas as pd

In [6]:
ck= pd.read_csv(r"C:\Users\HP\Downloads\creditRisk.csv")

In [7]:
ck

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,LP002971,Male,Yes,4.0,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,Y
977,LP002975,Male,Yes,0.0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,Y
978,LP002980,Male,No,0.0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,Y
979,LP002986,Male,Yes,0.0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,N
980,LP002989,Male,No,0.0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,Y

In [21]:
ck.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
ck.Gender = ck.Gender.fillna('male')

In [11]:
ck.Dependents = ck.Dependents.fillna(0.0)

In [13]:
 ck.Married = ck.Married.fillna('yes')

In [14]:
ck.Self_Employed = ck.Self_Employed.fillna('No')

In [16]:
ck.LoanAmount = ck.LoanAmount.fillna(ck.LoanAmount.mean())

In [18]:
ck.Loan_Amount_Term = ck.Loan_Amount_Term.fillna(ck.Loan_Amount_Term.mean())

In [20]:
ck.Credit_History = ck.Credit_History.fillna(0)

In [26]:
ck.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    int32
 1   Gender             981 non-null    int32
 2   Married            981 non-null    int32
 3   Dependents         981 non-null    float64
 4   Education          981 non-null    int32
 5   Self_Employed      981 non-null    int32
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         981 non-null    float64
 9   Loan_Amount_Term   981 non-null    float64
 10  Credit_History     981 non-null    float64
 11  Property_Area      981 non-null    int32
 12  Loan_Status        981 non-null    int32
dtypes: float64(5), int32(7), int64(1)
memory usage: 72.9 KB

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le = LabelEncoder()

In [25]:
ck[ck.select_dtypes(include= 'object').columns] = ck[ck.select_dtypes(include='object').columns].apply(le.fit_transform)

In [27]:
from sklearn.model_selection import train_test_split

In [59]:
ck_train , ck_test = train_test_split(ck , test_size=0.25)

In [29]:
ck_train_x = ck_train.iloc[:,0:-1]
ck_train_y = ck_train.iloc[:,-1]

In [30]:
ck_test_x = ck_test.iloc[:,0:-1]
ck_test_y = ck_test.iloc[:,-1]

In [32]:
ck_train_x.shape

(784, 12)

In [60]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
ran_ck = RandomForestClassifier(n_estimators=75 , criterion='entropy', class_weight='balanced',max_depth=12)

In [52]:
ran_ck.fit(ck_train_x, ck_train_y)

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=12, n_estimators=75)

In [53]:
pred_ck = ran_ck.predict(ck_test_x)

In [54]:
pred_ck

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [61]:
from sklearn.metrics import confusion_matrix

In [62]:
confusion_matrix(ck_test_y, pred_ck)

array([[ 24,  31],
       [ 12, 130]], dtype=int64)

In [63]:
from sklearn.metrics import accuracy_score

In [64]:
accuracy_score(ck_test_y, pred_ck)*100

78.1725888324873